<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="wrapper">

    <div class="quizes">
        <h1>Here are all quizes</h1>
        <ul>
        <% for(let quiz of quizes){%>
                <li><%= quiz.name %> Id är: <%= quiz.id %> Question one: <%= quiz.quOne %> Answer one is: <%= quiz.anOne %></li>
        <%}%>
        </ul>
    </div>

    <div class="my-quizes">
    <h1>Your quizes:</h1>
        <ul>
        <% for(let quiz of myQuizes){%>
            <li><a href=""><%= quiz.name %></a></li>
        <%}%>
        </ul>
    </div>

    <h2>Create new quiz</h2>

    <label for="numberOfQuestions">Choose the number of questions:</label>
        <select name="numberOfQuestions" id="numQuestions">
            <option value="five">Five questions</option>
            <option value="ten">Ten questions</option>
            <option value="fifteen">Fifteen questions</option>
        </select>

    <form action="/quizes" method="POST">
        <article>
            <ul>
                <li>
                    <label for="question-one">First question:</label>
                    <input type="text" name="qOne" placeholder="First question">
                    <input type="text" name="aOne" placeholder="First answer"></li>

                <li>
                    <label for="question-two">Second question:</label>
                    <input type="text" name="qTwo" placeholder="Second question">
                    <input type="text" name="aTwo" placeholder="Second answer"></li>

                <li><label for="question-three">Third question:</label>
                    <input type="text" name="qThree" placeholder="Third question">
                    <input type="text" name="aThree" placeholder="Third answer"></li>

                <li><label for="question-four">Fourth question:</label>
                    <input type="text" name="qFour" placeholder="Fourth question">
                    <input type="text" name="aFour" placeholder="Fourth answer"></li>

                <li><label for="question-five">Fifth question:</label>
                    <input type="text" name="qFive" placeholder="Fifth question">
                    <input type="text" name="aFive" placeholder="Fifth answer"></li>
            </ul>
        </article>
        <h3>Quiz name</h3>
        <input type="text" name="quizName" placeholder="quiz-name">
        <button>Create quiz</button>
    </form>

    </div>
</body>
</html>