<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login System</title>
  <link rel="stylesheet" href="css/main.css">
  <style>
    .hidden-answer {
      display: none;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <p><%= quiz.name %> </p>
    <p><%= quiz.id %></p>
    <% let userScore = 0 %>
    <p>Fråga 1: <%= quiz.quOne %></p>
    <p class="participant-answer"><input type="text" id="aOne"></p>
    <p class="hidden-answer">Rätt svar: <span><%= quiz.anOne %></span></p>
    <p>Fråga 2: <%= quiz.quTwo %></p>
    <p class="participant-answer"><input type="text" id="aTwo"></p>
    <p class="hidden-answer">Rätt svar: <span><%= quiz.anTwo %></span></p>
    <p>Fråga 3: <%= quiz.quThree %></p>
    <p class="participant-answer"><input type="text" id="aThree"></p>
    <p class="hidden-answer">Rätt svar: <span><%= quiz.anThree %></span></p>
    <p>Fråga 4: <%= quiz.quFour %></p>
    <p class="participant-answer"><input type="text" id="aFour"></p>
    <p class="hidden-answer">Rätt svar: <span><%= quiz.anFour %></span></p>
    <p>Fråga 5: <%= quiz.quFive %></p>
    <p class="participant-answer"><input type="text" id="aFive"></p>
    <p class="hidden-answer">Rätt svar: <span></s><%= quiz.anFive %></span></p>

    <form action=/quiz/<%=quiz.id%> method="POST">
      <input type="hidden" name="userScore" value="<%= userScore %>">
      <button> Submit answers </button>
      <p class="score"></p>
    </form>

  </div>


  <script>

    var btn = document.getElementsByTagName('button')[0]
    var scoreP = document.getElementsByClassName('score')[0]

    //var hidden = document.querySelectorAll("input[type=hidden]")[0]
    //scoreP.innerText = score

    btn.addEventListener('click', checkLengthofAnswers)
    //btn.addEventListener('click', compareAnswers)

    function changeVisibility() {
      var elements = document.getElementsByClassName('hidden-answer')
      for (let i = 0; i < elements.length; i++) {
        elements[i].style.display ="block";
      }
      compareAnswers()
    }

    function checkLengthofAnswers(){
      let empty = false
      var elements = document.querySelectorAll("input[type=text]")
      for (let i = 0; i < elements.length; i++) {
        if(elements[i].value.length < 1){
          empty = true;
        }
      }
      if(empty){
        alert("You need to answer all questions!")
      }
      else{
        changeVisibility()
      }
    }

    function compareAnswers(){
      
      var rightAnswers = document.getElementsByTagName('span')
      //var participantAnswers = document.getElementsByClassName('participant-answer')
      var participantAnswers = document.querySelectorAll("input[type=text]")

      score = 0

      for(let i = 0; i < rightAnswers.length; i++){

        if(rightAnswers[i].innerText === participantAnswers[i].value){
          rightAnswers[i].style.color = "green";
          score += 10
          console.log("Green")
        }
        else{
          rightAnswers[i].style.color = "red";
        }

    }
    scoreP.innerText = "Your score was: " + score
    //hidden.innerText = score
  }
    

  </script>

</body>
</html>