<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login System</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="wrapper">
    <p><%= quiz.name %> </p>
    <p><%= quiz.id %></p>
    <p>Fråga 1: <%= quiz.quOne %></p>
    <p>Rätt svar: <%= quiz.anOne %></p>
    <p>Fråga 2: <%= quiz.quTwo %></p>
    <p>Rätt svar: <%= quiz.anTwo %></p>
    <p>Fråga 3: <%= quiz.quThree %></p>
    <p>Rätt svar: <%= quiz.anThree %></p>
    <p>Fråga 4: <%= quiz.quFour %></p>
    <p>Rätt svar: <%= quiz.anFour %></p>
    <p>Fråga 5: <%= quiz.quFive %></p>
    <p>Rätt svar: <%= quiz.anFive %></p>
  </div>
</body>
</html>